<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.clb.umeng">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!--    // 在应用的AndroidManifest.xml添加如下<queries>标签-->
    <queries>
        <!--        // 指定微信包名-->
        <package android:name="com.tencent.mm" />
        <!--        //指定qq包名-->
        <package android:name="com.tencent.mobileqq" />
        <!--        //指定微博包名-->
        <package android:name="com.sina.weibo" />
        <!--         //指定企业微信包名-->
        <package android:name="com.tencent.wework" />
        <!--        //指定QQ空间包名-->
        <package android:name="com.qzone" />
        <!--        // 指定钉钉包名-->
        <package android:name="com.alibaba.android.rimet" />
        <!--        // 指定支付宝包名-->
        <package android:name="com.eg.android.AlipayGphone" />
        <!--        // 指定instagram包名-->
        <package android:name="com.instagram.android" />
        <!--        // 指定抖音包名-->
        <package android:name="com.ss.android.ugc.aweme" />

    </queries>

    <application>

        <!-- 友盟 Key（请在 Gradle 中配置，请不要在此处修改） -->
        <meta-data
            android:name="UM_KEY"
            android:value="${UM_KEY}" />

        <!-- QQ AppId（请在 Gradle 中配置，请不要在此处修改） -->
        <meta-data
            android:name="QQ_ID"
            android:value="${QQ_ID}" />
        <!-- QQ Secret（请在 Gradle 中配置，请不要在此处修改） -->
        <meta-data
            android:name="QQ_SECRET"
            android:value="${QQ_SECRET}" />

        <!-- 微信 AppId（请在 Gradle 中配置，请不要在此处修改） -->
        <meta-data
            android:name="WX_ID"
            android:value="${WX_ID}" />
        <!-- 微信 Secret（请在 Gradle 中配置，请不要在此处修改） -->
        <meta-data
            android:name="WX_SECRET"
            android:value="${WX_SECRET}" />

        <!-- 友盟社会化 -->

        <!-- QQ 回调 -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true"
            tools:node="replace"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent${QQ_ID}" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            tools:node="replace" />

        <meta-data android:name="com.huawei.hms.client.appid" android:value="appid=${HUAWEI_ID}"/>
    </application>
</manifest>